<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#">About</a></li>
    <li><a ng-href="#">Contact</a></li>
  </ul>
  <h3 class="text-muted">MCP: Cylon Command</h3>
</div>

<div class="jumbotron">
  <h1>Beep, bop, boop...</h1>
  <p class="lead">
    <img src="http://cylonjs.com/images/elements/cylon.png" alt="I'm Cylon"><br>
  </p>
<p>Connected to{{main.robotname ==null? ' connecting...':main.robotname}}</p>
</div>

<div class="row marketing">
  <h4>Change color</h4>
    <button class="btn btn-success" ng-click="main.ChangeColor('green')" >Green</button>
    <button class="btn btn-info" ng-click="main.ChangeColor('blue')">Blue</button>
    <button class="btn btn-danger" ng-click="main.ChangeColor('red')">Red</button>
</div>
<div class="footer">
  <p>♥ from team Awesome Sauce</p>
</div>
